html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    background-color: #000;
    width: 100%;
    height: 100%;
}

.d-none {
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.swipperHeader {
    display: flex;
    justify-content: center
}
  